@import "tailwindcss";

:root {
  color-scheme: light;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  font-weight: 400;
  line-height: 1.5;
  text-rendering: optimizeLegibility;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@theme {
  --color-background: hsl(0 0% 100%);
  --foreground: hsl(0 0% 12%);
  --card: hsl(0 0% 100%);
  --color-card-foreground: hsl(0 0% 12%);
  --color-popover: hsl(0 0% 100%);
  --color-popover-foreground: hsl(0 0% 12%);
  --color-primary: hsl(47 84% 60%);
  --color-primary-foreground: hsl(0 0% 100%);
  --color-secondary: hsl(0 0% 98%);
  --color-secondary-foreground: hsl(0 0% 0%);
  --color-muted: hsl(0 0% 85%);
  --color-muted-foreground: hsl(0 0% 100%);
  --color-accent: hsl(240 4.8% 95.9%);
  --color-accent-foreground: hsl(240 5.9% 10%);
  --color-destructive: hsl(357 81% 57%);
  --color-destructive-foreground: hsl(0 0% 0%);
  --color-info: hsl(49 81% 96%);
  --color-info-foreground: hsl(0 0% 12%);
  --color-warning: hsl(49 81% 96%);
  --color-warning-foreground: hsl(0 0% 12%);
  --color-danger: hsl(0 100% 97%);
  --color-danger-foreground: hsl(0 0% 12%);
  --color-success: hsl(144 100% 34%);
  --color-success-background: hsl(169 69% 94%);
  --color-error: hsl(14 100% 59%);
  --color-border: hsl(0 0% 84%);
  --color-border-stroke: hsl(0 0% 97%);
  --color-border-gray: hsl(0 0% 92%);
  --color-border-light: hsl(0 0% 90%);
  --color-input: hsl(0 0% 98%);
  --color-input-foreground: hsl(0 0% 12%);
  --color-input-label: hsl(0 0% 46%);
  --color-subtitle: hsl(0 0% 53%);
  --color-delimiter: hsl(0 0% 96%);
  --color-ring: hsl(47 84% 60%);
  --color-ring-6: hsla(239, 201%, 61%, 0.05);
  --color-chart-1: hsl(12 76% 61%);
  --color-chart-2: hsl(173 58% 39%);
  --color-chart-3: hsl(197 37% 24%);
  --color-chart-4: hsl(43 74% 66%);
  --color-chart-5: hsl(27 87% 67%);
  --color-dark: hsl(0 0% 0%);
  --color-dark-6: hsla(0, 0%, 0%, 0.06);
  --color-dark-60: hsla(0, 0%, 0%, 0.6);
  --color-loading: hsl(0 0% 92%);

  --radius: 1rem;
  --radius-lg: calc(var(--radius) + 4px);
  --radius-md: var(--radius);
  --radius-sm: calc(var(--radius) - 6px);
  --radius-xs: calc(var(--radius) - 8px);

  --shadow-custom: 0px 1px 4px 0px rgba(0, 0, 0, 0.05);

  --tracking-028: 0.28px;
  --tracking-032: 0.32px;
  --tracking-040: 0.40px;
  --tracking-048: 0.48px;
  --tracking-056: 0.56px;

  --font-family-sans: Inter Tight, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --font-family-title: Basique Regular, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --font-family-black: Basique Black, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --font-family-title: Basique Pro, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --font-family-black: Basique Pro Black, system-ui, Avenir, Helvetica, Arial, sans-serif;

  --grid-template-columns-16: repeat(16, minmax(0, 1fr));
  --grid-template-columns-24: repeat(24, minmax(0, 1fr));
  --grid-template-columns-36: repeat(36, minmax(0, 1fr));

  --spacing-4.5: 1.125rem;
  --spacing-5.5: 1.375rem;
  --spacing-6.5: 1.625rem;
  --spacing-7.5: 1.875rem;
  --spacing-15: 3.75rem;
  --spacing-18: 4.5rem;
  --spacing-27: 6.75rem;
  --spacing-30: 7.5rem;
  --spacing-36: 9rem;
  --spacing-45: 11.25rem;
}